mixin Catalog-unit(image, data)
  - const url = `images/${image}`
  - const src = require(url)
  .promotions__unit
    .promotion__image
        img(src=src, alt="")
    .promotion__info
        .promotion__name= data.name
        .promotion__material= data.material
        .promotion__from= data.from
        .promotion__size= data.size
    .promotion__price= data.price
    .promotion__more 
        span.read-more Подробнее